*.iml
*.apk
/app/*.apk
.gradle
/local.properties
/gradle.properties
/.idea/workspace.xml
/.idea/libraries
/.idea/tasks.xml
/.idea/vcs.xml
.DS_Store
/build
/captures
.externalNativeBuild
app/fabric.properties

app/prod/release/output\.json
