<?xml version="1.0" encoding="utf-8"?>
<!--
  ~ Copyright (c) 2016 Steve Christensen
  ~
  ~ This file is part of RPG-Pad.
  ~
  ~ RPG-Pad is free software: you can redistribute it and/or modify
  ~ it under the terms of the GNU General Public License as published by
  ~ the Free Software Foundation, either version 3 of the License, or
  ~ (at your option) any later version.
  ~
  ~ RPG-Pad is distributed in the hope that it will be useful,
  ~ but WITHOUT ANY WARRANTY; without even the implied warranty of
  ~ MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  ~ GNU General Public License for more details.
  ~
  ~ You should have received a copy of the GNU General Public License
  ~ along with RPG-Pad.  If not, see <http://www.gnu.org/licenses/>.
-->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="org.stevesea.adventuresmith">

    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:name=".AdventuresmithApp"
        android:allowBackup="false"
        android:icon="@mipmap/adventuresmith_icon"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".SplashActivity"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".AdventuresmithActivity"/>

        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="a06f7265a0865b0b844e031806968181d6056595"/>

        <activity
            android:name=".AttributionActivity"
            android:parentActivityName=".AdventuresmithActivity">
        </activity>
        <activity android:name=".AboutActivity"
                  android:parentActivityName=".AdventuresmithActivity">
        </activity>
    </application>

</manifest>
